* {
  margin: 0;
  padding: 0;
}
#chart-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

th, thead {
  padding: 1px 4px;
  border: 1px black solid;
  padding: 5px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border: 2px black solid;
}

td {
  padding: 5px;
  border: 1px black solid
}

